.screen {
  font-family: "Montserrat", sans-serif;
  min-width: 1600px;
  margin: auto;
}

.header {
  background-image: url(/img/background-header.png), linear-gradient(225deg, #7e5aff 16.9%, #55b7ff 83.27%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
}

.list {
  width: 515px;
  list-style: circle;
  display: flex;
  justify-content: space-between;
}

.list a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.list a:hover {
  list-style: disc;
  text-decoration: underline;
}

.social {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.fab-container {
  width: 40px;
  height: 40px;
}

.circle {
  position: absolute;
}

.fab {
  color: #ffffff;
  position: relative;
  top: 11px;
  font-size: 16px;
  line-height: 18px;
}

.fa-facebook-f {
  left: 15px;
}

.fa-twitter {
  left: 12px;
}

.fa-instagram {
  left: 13px;
}

.fab-container:hover {
  border-radius: 50%;
  background-color: #55b7ff;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 925px;
}

.heading__top {
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-align: center;
}

.heading__bottom {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #ffffff;
  text-align: center;
}

.slick-dots {
  color: #ffffff;
}

.scroll-down {
  align-self: center;
}

.scroll-down:hover {
  transform: scale(1.1);
}

#projects {
  height: 1507px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 140px;
}

.projects__title {
  color: #2c4058;
  text-transform: uppercase;
  font-size: 44px;
  line-height: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  height: 84px;
}

.project1 {
  display: flex;
}

.project1__left {
  width: 845px;
  height: 527px;
}

.project1-rectangle {
  position: absolute;
  width: 585px;
  height: 470px;
}

.project1-img {
  position: relative;
  left: 215px;
  top: 57px;
  width: 630px;
  height: 470px;
}

.project-content {
  color: #2c4058;
  width: 476px;
  height: 351px;
  margin-left: 70px;
  margin-right: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 22px;
}

h3 {
  margin-top: 0px;
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 0px;
}

.project__paragraph {
  box-sizing: border-box;
  margin-top: 0px;
  font-size: 18px;
  line-height: 30px;
}

.project1-button {
  border: 1px solid #2c4058;
  width: 190px;
  height: 50px;
  font-size: 14px;
  margin-bottom: 60px;
  color: #000000;
}

.project1-button:hover {
  background-color: #55b7ff;
  border: none;
  color: #ffffff;
}

.project__address {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-style: italic;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.project__address-marker {
  width: 9px;
  height: 17px;
}

.project2 {
  display: flex;
}

.project2-button {
  border: 1px solid #2c4058;
  width: 190px;
  height: 50px;
  font-size: 14px;
  margin-bottom: 60px;
  color: #000000;
}

.project2-button:hover {
  background-color: #7e5aff;
  border: none;
  color: #ffffff;
}

.project2__right {
  position: relative;
  width: 845px;
  height: 527px;
}

.project2-ractangle {
  position: relative;
  left: 260px;
  width: 585px;
  height: 470px;
}

.project2-img {
  position: absolute;
  top: 57px;
  width: 630px;
  height: 470px;
}

.news {
  height: 1035px;
  background-image: url(/img/background-news.png), linear-gradient(225deg, #24ccfa 11.16%, #3c7fd4 89.18%);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.news__title {
  padding-top: 135px;
  margin-bottom: 89px;
  height: 84px;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.news-slider {
  width: 1200px;
  height: 587px;
  border: 1px solid red;
  margin: auto;
}

.article {
  max-width: 370px;
  height: 514px;
  margin-right: 30px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.news-slider__img {
  width: 370px;
  height: 240px;
}

.article__title {
  width: 330px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: #2c4058;
}

.article__paragraph {
  width: 330px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
  color: #2c4058;
}

.article__author {
  width: 186px;
  height: 60px;
  margin-left: 20px;
  margin-bottom: 30px;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
}

.author-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.author-info {
  height: 60px;
}

.name {
  color: #2c4058;
  margin-block-start: 0em;
  font-size: 18px;
}

.date {
  margin-bottom: 0px;
  color: #55b7ff;
  font-size: 14px;
}

.article__author2 {
  width: 264px;
  height: 60px;
  margin-left: 20px;
  margin-bottom: 30px;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
}

.article__author3 {
  width: 199px;
  height: 60px;
  margin-left: 20px;
  margin-bottom: 30px;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
}

.gallery {
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.gallery-title {
  margin-top: 140px;
  height: 84px;
  font-weight: bold;
  font-size: 44px;
  color: #2c4058;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.gallery-pics {
  display: flex;
  justify-content: center;
}

.gallery-pics-left {
  width: 580px;
  height: 438px;
  margin-right: 10px;
}

.gallery-pics-left:hover {
  transform: scale(0.95);
}

.pic {
  width: 285px;
  height: 214px;
}

.pic:hover {
  transform: scale(0.9);
}

.gallery-pics-right {
  width: 580px;
  height: 438px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.gallery-button {
  width: 190px;
  height: 50px;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid #2c4058;
  margin-bottom: 139px;
}

.gallery-button:hover {
  border: none;
  background-color: #55b7ff;
  color: #ffffff;
}

.contact {
  height: 700px;
}

#map {
  height: 700px;
  width: 100%;
}

#form {
  width: 770px;
  height: 450px;
  border: 1px solid blue;
  background-image: url(/img/form-background.png);
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-title {
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
  color: #2c4058;
  width: 332px;
  height: 84px;
  text-align: center;
}

.form-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 69px;
}

.form-contacts {
  width: 286px;
  height: 196px;
  font-size: 18px;
  line-height: 28px;
}

.form-fill-in {
  width: 310px;
  height: 196px;
}

input {
  margin-bottom: 27px;
  height: 41px;
  width: 310px;
  border: none;
  border-bottom: 1px solid #2c4058;
}

.form-button {
  width: 140px;
  height: 50px;
  margin-left: 170px;
  background: none;
  border: 1px solid #2c4058;
}

.form-button:hover {
  background-color: #7e5aff;
  color: #ffffff;
  border: none;
}

.footer {
  height: 549px;
  background-image: url(/img/footer-img.png), linear-gradient(225deg, #7e5aff -2.19%, #55b7ff 103.21%);
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=index.css.map */
